.account-container {
  max-width: 700px;
  margin: 0 auto;
}

.account-title {
  font-size: 60px;
  font-weight: bold;
  color: #999;
}

.account-verse {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  color: #ccc;
}

.route-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button {
  background-color: #444;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;

  cursor: pointer;
  transition: 0.2s;
}

.back-button:hover {
  background-color: #555;
}

.back-text {
  font-size: 15px;
  font-weight: 800;
  color: #fff;
}

@media (max-width: 768px) {
  .account-container {
    width: 80%;
  }

  .option-text {
    font-size: 16px;
  }

  .account-verse {
    font-size: 25px;
  }

  .account-title {
    font-size: 40px;
  }
}