.legal-emoji-box { filter: drop-shadow(0 0 4em #fff); }
.legal-emoji { font-size: 150px; }

.legal-content {
  max-width: 1000px;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 200px;
}

.legal-header {
  font-size: 70px;
  font-weight: 700;
  color: #ccc;
}

.legal-subheader {
  font-size: 40px;
  font-weight: 700;
  color: #777;
}

.legal-break {
  height: 30px;
}

.legal-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #777;
}

.legal-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #777;
}

.legal-landing {
  width: 90%;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .legal-header {
    font-size: 50px;
    text-align: center;
  }

  .legal-subheader {
    font-size: 30px;
    text-align: center;
  }

  .legal-content h3 {
    font-size: 20px;
  }

  .legal-content h4 {
    font-size: 16px;
  }
}