#footer-container {
  padding: 100px 0px 100px 0px;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  border-top: 1px solid #333;
}

#footer-content {
  width: 70%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer-logo {
  width: 100%;
  height: 100%;

  pointer-events: none;
}

#footer-logo-container {
  transition: 0.2s;
}

#footer-logo-container:hover {
  transform: scale(1.04);
}

.footer-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  text-align: center;
  margin-bottom: 40px;
}

.footer-col-header {
  color: #999;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-col-item {
  display: block;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Nunito';
  user-select: none; 
  text-decoration: none;

  color: #616161;
  cursor: pointer;
  transition: 0.2s;
}

.footer-col-item:hover {
  color: #CCC;
}

#footer-copyright {
  text-align: center;
}