/* 
  This file is used to define global styles for the application.
  It is imported in the src/index.js file and is used to define
  global styles for the application.
*/

:root {
  --primary-color: #0ba3ff;

  font-family: 'Nunito';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #616161;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

img {
  user-select: none;
}

.scroll-section {
  width: 100%;
  height: 3000px;
}

.mini-scroll-section {
  width: 100%;
  height: 1800px;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.full-screen-content {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-gap { gap: 40px; }

.scroll-indicator {
  position: absolute;
  bottom: 60px;
  color: '#444';
  font-size: 24px;
  font-weight: 800;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 0;
}

.relative {
  position: relative;
}

.rainbow-button:hover { transform: scale(1.05); }
.flock-block { transition: 0.2s; }
.flock-block:hover { transform: scale(1.05); }

.landing-content {
  transition: 0.3s;
}

.option-block {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-row {
  width: 100%;
  border-radius: 15px;
  background-color: #444;
  padding: 20px 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
}

.option-row:hover {
  background-color: #555;
}

.option-text {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.stepRow {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 130px 3fr;
  row-gap: 45px;
  margin-bottom: 50px;
}

.stepRow > *:nth-child(odd) {
  color: #aaa;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #2a2a2a;
  border-radius: 15px;
}

.input-prefix {
  font-size: 20px;
  font-weight: 700;
  padding: 0px 15px;
}

.input-field {
  padding: 20px;
  border-radius: 15px;
  border-width: 0px;
  font-size: 18px;
  outline: none;
  transition: 0.2s;

  font-weight: 800;
}

.hover-expand {
  cursor: pointer;
  transition: 0.2s;
}
.hover-expand:hover { transform: scale(1.05) }

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  /* transition: 0.2s; */
}

.outline {
  border: 1px solid #333;
}

.circle-button:hover {
  background-color: #222;
}

.hover-background { cursor: pointer; }
.hover-background:hover { background-color: #222; }

.hover-underline { cursor: pointer; }
.hover-underline:hover { text-decoration: underline; }


@media (max-width: 800px) {
  .stepRow {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .stepRow > *:nth-child(odd) {
    font-size: 28px;
  }

  .stepRow > *:nth-child(even) {
    font-size: 24px;
  }
}

.fade-in-view {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-backdrop {
  animation: modalOpacity 0.3s ease-in-out forwards;
}
.modal-view {
  animation: modalIn 0.3s ease-in-out forwards;
}

.modal-backdrop.closing {
  animation: modalOut 0.2s ease-out forwards;
}

@keyframes modalOpacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes modalIn {
  from {
    opacity: 0; 
    transform: scale(0.9);
  }
  to {
    opacity: 1; 
    transform: scale(1);
  }
}

@keyframes modalOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
